* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    /* height: 7500px; */
    overflow: hidden;
}

body {
    background-color: whitesmoke;
}

.container {
    width: 1140px;
    margin: 0 auto;
    padding: 0px 20px;
}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
    display: none !important;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 10px ! important;
    display: none !important;
}

.owl-prev {
    width: 40px !important;
    height: 40px !important;
    background-image: url(../src/assets/fonts/strright.png)!important;
    background-repeat: no-repeat!important;
    background-size: cover !important;
}

.owl-next {
    width: 40px !important;
    height: 40px !important;
    background-image: url(../src/assets/fonts/stleft.png)!important;
    background-repeat: no-repeat!important;
    background-size: cover !important
}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
    display: none !important;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 10px ! important;
    display: none !important;
}

.owl-prev {
    width: 40px !important;
    height: 40px !important;
    background-image: url(../src/assets/fonts/strright.png)!important;
    background-repeat: no-repeat!important;
    background-size: cover !important;
}

.owl-next {
    width: 40px !important;
    height: 40px !important;
    background-image: url(../src/assets/fonts/stleft.png)!important;
    background-repeat: no-repeat!important;
    background-size: cover !important
}